{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documents</title>
    <link rel="stylesheet" href="{% static '/style1.css' %}">
    <link rel='stylesheet' href="{% static 'bootstrap-3.3.7-dist\css\bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link id="layoutstyle" rel="stylesheet" href="{% static 'assets/color/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist\css\bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     
    <link rel="stylesheet" href="{% static ''%}style1.css">
    <link rel='stylesheet' href='{% static ''%}bootstrap-3.3.7-dist\css\bootstrap.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/responsive.css">
    <link id="layoutstyle" rel="stylesheet" href="{% static ''%}assets/color/theme.css">
    <link rel="stylesheet" type="text/css" href="{% static ''%}style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Style CSS -->
    <link rel="stylesheet" href="style1.css">
    <link rel='stylesheet' href='bootstrap-3.3.7-dist\css\bootstrap.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link id="layoutstyle" rel="stylesheet" href="assets/color/theme.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style1.css">
    <link rel='stylesheet' href='bootstrap-3.3.7-dist\css\bootstrap.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link id="layoutstyle" rel="stylesheet" href="assets/color/theme.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Style CSS -->
    <link rel="stylesheet" href="style1.css">
    <link rel='stylesheet' href='bootstrap-3.3.7-dist\css\bootstrap.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link id="layoutstyle" rel="stylesheet" href="assets/color/theme.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Style CSS -->
    <link rel="stylesheet" href="style1.css">
    <link rel='stylesheet' href='bootstrap-3.3.7-dist\css\bootstrap.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link id="layoutstyle" rel="stylesheet" href="assets/color/theme.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->

    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->

    <!-- Latest compiled and minified CSS -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap-3.4.1-dist\js\bootstrap.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
<style>
@media screen and (max-height: 767px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  footer{text-align: center;}
  .container{width: 80%;max-width: 80%;}
}
.btn_style{margin-top: 3%;margin-left: 10%;}
</style>
</head>
<body>
   <nav class="navbar navbar-default" role="navigation" style="background: #000;    position: fixed;z-index: 100;">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="width: 100%">
      <a class="navbar-brand" href="#"><img class="img-responsive"src="{% static 'assets/images/logo-head.png' %}" alt="logo" style="width:100px;" /></a>
        <ul class="nav navbar-nav navbar-right" style="padding-left: 80%">
        <li class="dropdown">
            <i type="button" class="fa fa-cog dropdown-toggle" data-toggle="dropdown" style="font-size: 25px;" aria-expanded="false"></i>
            <ul class="dropdown-menu" style="display: block;">
              <li><a href="/edit_profile">Edit Profile</a></li>
              <li><a href="/verification">Verification</a></li>
              <li><a href="/security">Security</a></li>
            </ul>
          </li>
         
          
            <a href="#" style="padding-right: 20px"><span><img src="{% static 'images/user.png' %}"  width="25">Name</span>
            </a>
          
        </ul>
    </div>
    </div>
  </nav>   
{% block content %}
{% endblock content %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
{% comment %} <script  src="{% static 'js/script.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script>
<script  src="{% static 'js/index.js' %}"></script> {% endcomment %}
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script  src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>
<script  src="js/index.js"></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<!-- End Footer -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script  src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>
<script  src="js/index.js"></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script  src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>
<script  src="js/index.js"></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script  src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>
<script  src="js/index.js"></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script  src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>
<script  src="js/index.js"></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

{% block js %}
{% endblock js %}
<!-- Footer -->
<footer class="container-fluid" style="background: #000;margin-left:50px;">
  <div class="row">
    <div class="col-sm-4">
    <img src="{% static 'images/footer.png' %}" style="width:70%;margin-left:10%">
    </div>
    <div class="col-sm-8" style="margin-top: 5%;">
      <p style="border-bottom: 1px solid #fff; color: #fff;">Folder The Future of Tranding</p>
    </div>
    <!-- <hr style="color: #fff;"> -->
        <div class="col-sm-2">
        <!-- Content -->
        <p style="color: #fff;">legal</p>
        <p style="color: #fff;text-decoration: underline;">Legal Information</p>
        <p style="color: #fff;text-decoration: underline;">Privacy Policy</p>
        <p style="color: #fff;text-decoration: underline;">Terms & Conditions</p>
        </div>
        <div class="col-sm-2">
        <!-- Content -->
        <p style="color: #fff;">Info</p>
        <p style="color: #fff;text-decoration: underline;">Fees</p>
        <p style="color: #fff;text-decoration: underline;">License</p>
        </div>
        <div class="col-sm-1">
        <!-- Content -->
        <p style="color: #fff;">Menu</p>
        <p style="color: #fff;text-decoration: underline;">Trade Day</p>
        <p style="color: #fff;text-decoration: underline;">support</p>
        </div>
        <div class="col-sm-1">
        <!-- Content -->
        <p style="color: #fff;">Social</p>
        <ul>
          <li><i class="fa fa-facebook-f"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-instagram"></i></li>
          <li><i class="fa fa-telegram"></i></li>
        </ul>
        </div>
        <div class="col-sm-1">
        <!-- Content -->
        <button class="btn-lg btn-primary">subscribe</button>
        </div>
    <div class="col-sm-8" style="margin-top: 5%;">
      <p style="color: #fff;">Trade Day 2019, All Rights Reserved.</p>
    </div>        
  </div>
</footer>
<!-- End Footer -->
</body>
</html>